<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/jpg" href="../static/img/logo-sem-fundo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/e321f551d7.js" crossorigin="anonymous"></script>
</head>
<body>

    <main id="main">

        <nav>
            <div class="navbar">
              <div class="container nav-container">
                  <input class="checkbox" type="checkbox" name="" id="" />
                  <div class="hamburger-lines">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                  </div>  
                <div class="logo">
                  <h1>mpb</h1>
                </div>
                <div class="menu-items">
                    <li><i class="bi bi-house"></i><a href="/home"> Home</a></li>
                    <li><i class="bi bi-person"></i><a href="/login"> Login</a></li>
                    <li><i class="bi bi-info-circle"></i><a href="#about"> Sobre</a></li>
                    <li><i class="bi bi-ev-front"></i><a href="#veiculos"> Encontre um Carro</a></li>
                    <li><i class="bi bi-question-circle"></i><a href="#funciona"> Como funciona</a></i></li>
                    <li><i class="bi bi-skip-start"></i><a href="/comece"> Comece já</a></li>
                    <li><i class="bi bi-headset"></i><a href="#contact"> Contato</a></li>
                </div>
                <div class="nav-bar">
                    <ul class="nav-bar">
                        <li><a href="/host"> Seja um Anfitrião</a></li>
                    </ul>    
                </div>
              </div>
            </div>
          </nav>

        <section class="host" id="host">
        <div class="host-img">
            <img src="../static/img/carsharing3_sem_fundo.png" alt="">
        </div>
            <div class="host-form">
                <form action="host" method="post">
                <h1 class="heading">Seja um 
                    <span id="subtitle">Anfitrião</span>
                </h1>

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-sucess alert-dismissible fade show" role="alert">
                    <i class="bi bi-check-circle-fill"></i><li>{{ message }}</li>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}


                <div class="input-box-nome">
                    <label for="">Nome</label>
                    <input id="nome" type="text" name="nome" placeholder="Digite seu nome">
                </div>
                <div class="input-box-sobrenome">
                    <label for="">Sobrenome</label>
                    <input id="sobrenome" type="text" name="sobrenome" placeholder="Digite seu sobrenome">
                </div>
                <div class="input-box-email">
                    <label for="">Email</label>
                    <input id="email" type="text" name="email" placeholder="Digite seu email">
                </div>
                <div class="input-box-end">
                    <label for="">Endereço</label>
                    <input id="endereco" type="text" name="endereco" placeholder="Digite seu Endereço">  
                </div>
                <div class="input-box-compl">
                    <label for="">N° CNH</label>
                    <input id="complemento" type="text" name="complemento" placeholder="Digite o Complemento">
                </div>
                <div class="input-box-cidade">
                    <label for="">Cidade</label>
                    <input id="cidade" type="text" name="cidade" placeholder="Digite a cidade" required>
                </div>
                <div class="input-box-estado">
                    <label for="">Estado</label>
                    <input id="estado" type="text" name="estado" placeholder="Digite o Estado" required>
                </div>
                <div class="input-box-cep">
                    <label for="">CEP</label>
                    <input id="cep" type="text" name="cep" placeholder="Digite seu CEP" required>
                </div>
                <div class="input-box-pas">
                    <label for="">Senha</label>
                    <input id="password" type="text" name="password" placeholder="Digite seu CEP" required>
                </div>
                <div class="input-box-confpass">
                    <label for="">Confirmação da Senha</label>
                    <input id="confirmapassword" type="text" name="confirmapassword" placeholder="Digite novamente a senha" required>
                </div>
                <div class="continue-buttom">
                    <button id="btn-continue"><a href="/veiculos">Cadastrar</a></button>
                    <button id="btn-loading" class="btn btn-primary" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                        <span role="status">Loading...</span>
                      </button>
                </div>
                </form>
            </div>
    </section>
        
        <footer id="footer">
            <h2>mpb &copy; moving people beyond</h2>
        </footer>

    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
    
</body>
</html>
